/*Grid System*/
.row{
  display: flex;
  width: 100%;
}
.col-6{
  width: 500%;
}

/*Header about US y Contact Us*/
.bg {
  width: 100%;
  height: 50vh;
}
.container1{
  display:flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50vh;
}

.bg__content{
  display: flex;
  align-items: center;
  height: 50vh;
  width: 100%;
  color: yellow;
}

/*Boton Contact Us en pag About Us*/


/*BG Contact Us*/
.contactCircles{
  list-style-type: none;
  display: flex;
  margin-bottom: 20px;
}

.contactCircles li:hover {
  background: red;
}

.contactCircles li {
  width: 50px;
  height: 50px;
  border: 2.5px solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  margin: 0 10px;
  transition: all 0.5s linear;
  cursor: pointer;
}

.contactCircles li:first-child{
  margin-left: 0;
}

/*Img Contact Us*/
.contactus__img img{
  width: 550px;
  height: 400px;
}
/*Titulo Contact Us*/

.container__text{
  align-items: center;
  justify-content: center;
}

/*About Us*/
.aboutus__img{
  padding: 30px;
}
.aboutus__img img{
  width: 550px;
  height: 400px;
}
.about__info {
  color: black;
}
.about__info-p1 {
  font-size: 20px;
  margin-bottom: 20px;
}
.about__info-p2 {
  font-size: 16px;
  margin-bottom: 20px;
}

.aboutus__info{
  font-family: Poppins;
  padding: 40px;
  margin: 30px;
  background: yellow;
  color: black;
  transition: all 0.5s linear;
}

.aboutus__info:hover {
  background: red;
  color: white;
}

.aboutus_title{
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 15px;
}

/*Formulario*/
.container_formulario{
  width: 130px;
}
@import url('https://fonts.googleapis.com/css2?family=Martel:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&=swap');

.formulario{
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.85);
  border-radius: 30px;
}
.input-box{
  position: relative;
  width: 400px;
}
.input-box input{
  width: 100%;
  background: transparent;
  color: white;
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 1.2em;
  padding: 15px 0 10px 0;
  font-family: Poppins;
}
.input-box label{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: white;
  font-size: 19px;
  letter-spacing: 1px;
  pointer-events: none;
  transition: .3s;
}
.input-box input:valid ~ label,
.input-box input:focus ~ label{
  color: yellow;
  top: 0;
  font-size: 0.85em;
}
.input-box span{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: white;
  overflow: hidden;
}

.input-box span::before{
  content: '';
  position: absolute;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #39B5E0, #A31ACB, #FF78F0, #FFEA20, #39b5e0);
  animation: animate 2s linear infinite;
  transition: .5s;
}
.input-box input:valid ~ span::before,
.input-box input:focus ~ span::before{
  left: 0;
}
@keyframes animate {
  0%{
    background-position-x: 0;
  }
  100%{
    background-position-x: 400px;
  }
}

/*Question*/
.question{
  background:#FBEA37;
  padding: 100px 0;
  color: black;
}
.common {
  width: 40%;
  margin: 20px auto;
  text-align: center;
}
.heading {
  margin-bottom: 20px;
  font-weight: 500;
  color: black;
  font-size: 40px;
  font-family: Poppins;
}
.commonBorder {
  background: white;
  height: 3px;
  width: 200px;
  margin: 30px auto;
}
.question__box {
  padding: 40px;
  background: black;
  border: none;
  border-radius: 40px 10px;
  color: #fff;
  margin: 20px;
  transition: all 0.5s linear;
}
.question__box:hover {
  background: white;
  color: black;
  border:3px solid #ff4a57;
  border-radius: 40px 10px;
}
.commonIcons {
  font-size: 40px;
  color: #ff4a57;
  margin-bottom: 15px;
}
.question__box:hover .commonIcons {
  color: yellow;
}
.question__box-header {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
  font-family: Poppins;
}
.question__box-p {
  font-size: 14px;
  color: black;
  font-family: Poppins;
}
/*Btn Contact*/
.container_btncontact{
  margin: 5em;
  margin-inline: auto;
  max-width: 68em;
  padding-inline: 1rem;
  background: red;
  border-radius: .8rem;
  height: 15em;
}

/*Transition*/
@media (max-width: 900px){
  section .content__text{
    font-size: 40px
  }

  section .container__contact{
    flex-direction: column;
  }

  section .question__header{
    flex-direction: column;
  }
}
