@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
Aboutus,
Contactus {
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
/*Grid System*/
.row {
  display: flex;
  width: 100%;
}


 /*** QUERY ***/
 img {
  @media (max-width: 768px) {
    width: 100%;

    &:nth-child(2) {
      display: initial;
    }
  }
}

.container {

  @media (max-width: 768px) {
    width: 100%;

  }

  h1{

    @media (max-width: 768px) {
      font-size: 2rem;
    }
  }

  p, .text_accordion {

    @media (max-width: 768px) {
      font-size: 1rem;
    }
  }

  button {

    @media (max-width: 768px) {
      font-size: 1.2rem;
    }
  }
}

@media (max-width: 900px) {

  section .question__header,
  .container_formulario .container {
    flex-direction: column;
    margin-top: auto;
  }

  .content__text {
    margin-bottom: 10px;
  }

  .badge {
    margin-bottom: 4px;
    margin-top: 3px;
  }

  .accordion {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

